@page
@model WebApplication1.Pages.errors._403Model
@{
    ViewData["Title"] = "Access Denied";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px;">Access Denied</p>
    <p>You do not have permission to view this page.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
