@page
@model WebApplication1.Pages.ResetPasswordSuccessModel
@{
}

<div class="container mt-5 text-center">
    <h1 class="mb-3">Password Reset Successful</h1>
    <p>Your password has been successfully reset. You can now log in with your new password.</p>

    <a asp-page="Login" class="btn btn-primary">Go to Login</a>
</div>
